/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        l03_sup {
            bindings = <&mo 0>;
            key-positions = <36 41>;
        };

        l05_sup {
            bindings = <&mo 0>;
            key-positions = <37 40>;
        };
    };

    behaviors {
        alt_layer3: alt_layer3 {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_LAYER3";
            bindings = <&kp LEFT_ALT>, <&mo 0>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        ent_l04: ent_l04 {
            compatible = "zmk,behavior-hold-tap";
            label = "ENT_L04";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            retro-tap;
        };

        l01_shift: l01_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "L01_SHIFT";
            bindings = <&mo 1>, <&kp LEFT_SHIFT>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };
    };

    macros {
        j_tmux: tmux_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(P) &kp J>;
            label = "TMUX_NEXT";
        };

        k_tmux: tmux_prev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(P) &kp K>;
            label = "TMUX_PREV";
        };

        r_tmux: r_tmux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(P) &kp R>;
            label = "R_TMUX";
        };

        w_tmux: w_tmux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(P) &kp W>;
            label = "W_TMUX";
        };

        d_tmux: s_tmux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(P) &kp D>;
            label = "S_TMUX";
        };

        f_tmux: f_tmux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(P) &kp F>;
            label = "F_TMUX";
        };

        g_tmux: g_tmux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(P) &kp G>;
            label = "G_TMUX";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB             &kp Q  &kp W  &kp E     &kp R  &kp T              &kp Y                 &kp U  &kp I         &kp O    &kp P     &kp BSPC
&mt LEFT_ALT ENTER  &kp A  &kp S  &kp D     &kp F  &kp G              &kp H                 &kp J  &kp K         &kp L    &kp SEMI  &kp SQT
&mo 4               &kp Z  &kp X  &kp C     &kp V  &kp B              &kp N                 &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp ESCAPE
                                  &kp LGUI  &mo 1  &mt LCTRL SPACE    &mt LEFT_SHIFT ENTER  &mo 2  &kp LEFT_ALT
            >;
        };

        l01_move {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans       &trans        &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET      &kp AMPERSAND   &kp ASTERISK  &trans     &trans     &trans
&kp LS(RET)  &kp NUMBER_1  &kp N2  &kp N3    &kp N4      &kp N5         &kp N6         &kp N7          &kp N8        &kp N9     &kp N0     &kp BACKSLASH
&trans       &trans        &trans  &kp HOME  &trans      &trans         &kp BACKSLASH  &kp UNDERSCORE  &kp END       &kp TILDE  &kp GRAVE  &trans
                                   &kp LGUI  &trans      &trans         &kp RET        &mo 3           &kp LC(P)
            >;
        };

        l02_sp-chars {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &kp MINUS      &kp EXCLAMATION  &kp ASTERISK          &kp EQUAL           &kp EXCLAMATION    &kp AMPS               &kp DOLLAR       &kp PLUS          &trans  &trans
&trans  &trans  &kp LESS_THAN  &kp LEFT_BRACE   &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp GREATER_THAN  &trans  &kp BACKSLASH
&trans  &trans  &trans         &kp AT_SIGN      &kp PERCENT           &kp UNDERSCORE      &trans             &trans                 &trans           &trans            &trans  &kp ESCAPE
                               &trans           &trans                &trans              &kp RET            &trans                 &kp RALT
            >;
        };

        edtext {
            bindings = <
&trans  &trans          &trans  &trans  &trans     &trans               &trans    &trans    &trans  &trans     &trans         &trans
&trans  &kp LEFT_SHIFT  &trans  &trans  &kp LCTRL  &kp LC(BACKSPACE)    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp BACKSPACE  &trans
&trans  &trans          &trans  &trans  &trans     &trans               &trans    &trans    &trans  &trans     &trans         &trans
                                &trans  &trans     &trans               &trans    &trans    &trans
            >;
        };

        sys {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3       &bt BT_SEL 4    &kp F1            &kp F2        &kp F3      &kp F4   &trans  &bt BT_CLR_ALL
&trans  &trans        &out OUT_USB  &trans          &trans             &out OUT_TOG    &kp F5            &kp F6        &kp F7      &kp F8   &trans  &trans
&trans  &trans        &trans        &trans          &trans             &out OUT_BLE    &kp F9            &kp F10       &kp F11     &kp F12  &trans  &kp CLCK
                                    &kp K_PREVIOUS  &kp K_VOLUME_DOWN  &trans          &kp C_PLAY_PAUSE  &kp K_VOL_UP  &kp K_NEXT
            >;
        };
    };
};
