/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        l03_sup {
            bindings = <&mo 0>;
            key-positions = <36 41>;
        };

        l05_sup {
            bindings = <&mo 0>;
            key-positions = <37 40>;
        };

        go_flayer {
            bindings = <&tog 7>;
            key-positions = <24 35>;
        };

        tq {
            bindings = <&to 8>;
            key-positions = <11 23 35>;
        };
    };

    behaviors {
        space_ctrl: space_ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_CTRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            require-prior-idle-ms = <125>;
        };

        moP_kp: moP_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "MOP_KP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        hp_balanced: hp_balanced {
            compatible = "zmk,behavior-hold-tap";
            label = "HP_BALANCED";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <175>;
            tapping-term-ms = <300>;
            flavor = "balanced";
        };

        mo_kpP: mo_kpP {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_KPP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mt_B: mt_B {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_B";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
        };

        mod_td: mod_td {
            compatible = "zmk,behavior-tap-dance";
            label = "MOD_TD";
            #binding-cells = <0>;
            bindings = <&mt_B LCTRL W>, <&kp W>;
        };

        lt_B: lt_B {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_B";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
        };

        ht_ctrl: ht_ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_CTRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <4 0 1 3 4 5 6 7 8 9 10 12 13 14 15 16 17 18 19 20 21 22 24 25 26 27 28 29 30 31 32 33 34 36 37 38 39 40 41 35 23 11>;
        };
    };

    macros {
        qt: qt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp T>;
            label = "QT";
        };

        ex_qt: ex_qt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp AT_SIGN &kp T>;
            label = "EX_QT";
        };

        harp_n: harp_n {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(G) &kp I>;
            label = "HARP_N";
        };

        harp_p: harp_p {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(G) &kp E>;
            label = "HARP_P";
        };

        cf1: cf1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F1)) &tog 7>;
            label = "CF1";
        };

        cf2: cf2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F2)) &tog 7>;
            label = "CF2";
        };

        cf3: cf3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F3)) &tog 7>;
            label = "CF3";
        };

        cf4: cf4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F4)) &tog 7>;
            label = "CF4";
        };

        cf5: cf5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F5)) &tog 7>;
            label = "CF5";
        };

        cf6: cf6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F6)) &tog 7>;
            label = "CF6";
        };

        tmux_w0: tmux_w0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N) &kp N0>;
            label = "TMUX_W0";
        };

        tmux_w2: tmux_w2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N) &kp NUMBER_2>;
            label = "TMUX_W2";
        };

        tmux_w3: tmux_w3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N) &kp NUMBER_3>;
            label = "TMUX_W3";
        };

        tmux_w4: tmux_w4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N) &kp NUMBER_4>;
            label = "TMUX_W4";
        };

        tmux_w5: tmux_w5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N) &kp N5>;
            label = "TMUX_W5";
        };

        tmux_w6: tmux_w6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N) &kp NUMBER_6>;
            label = "TMUX_W6";
        };

        tmux_w7: tmux_w7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N) &kp N7>;
            label = "TMUX_W7";
        };

        tmux_w8: tmux_w8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N) &kp N8>;
            label = "TMUX_W8";
        };

        tmux_w9: tmux_w9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N) &kp N9>;
            label = "TMUX_W9";
        };

        tmux_w1: tmux_w1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N) &kp NUMBER_1>;
            label = "TMUX_W1";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&mo_kpP 5 TAB       &kp Q  &mt_B LCTRL W  &lt_B 4 E     &kp R             &kp T               &kp Y           &kp U                &ht_ctrl LCTRL I  &mt_B LEFT_ALT O  &kp P     &mo_kpP 5 BACKSPACE
&mt LEFT_ALT ENTER  &kp A  &kp S          &kp D         &ht_ctrl LCTRL F  &mt_B LEFT_ALT G    &kp H           &kp J                &kp K             &kp L             &kp SEMI  &mt LCTRL SQT
&mo 6               &kp Z  &kp X          &kp C         &kp V             &kp B               &kp N           &kp M                &kp COMMA         &kp DOT           &kp FSLH  &kp ESC
                                          &kp LEFT_GUI  &moP_kp 2 TAB     &kp SPACE           &kp LEFT_SHIFT  &moP_kp 3 BACKSPACE  &kp LEFT_ALT
            >;
        };

        tab_def {
            bindings = <
&kp TAB             &kp Q  &mt_B LCTRL W  &kp E         &kp R  &kp T                      &kp Y                 &kp U  &kp I         &kp O    &kp P     &kp BACKSPACE
&mt LEFT_ALT ENTER  &kp A  &kp S          &kp D         &kp F  &kp G                      &kp H                 &kp J  &kp K         &kp L    &kp SEMI  &kp SQT
&mo 6               &kp Z  &kp X          &kp C         &kp V  &kp B                      &kp N                 &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp ESC
                                          &kp LEFT_ALT  &mo 2  &space_ctrl LCTRL SPACE    &mt LEFT_SHIFT SPACE  &mo 3  &kp LEFT_ALT
            >;
        };

        l01_move {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&ex_qt       &kp LEFT_SHIFT  &kp LEFT  &kp DOWN  &trans  &harp_p    &harp_n         &trans          &kp UP     &kp RIGHT  &ex_qt     &trans
&kp LS(RET)  &kp NUMBER_1    &kp N2    &kp N3    &kp N4  &kp N5     &kp N6          &kp N7          &kp N8     &kp N9     &kp N0     &kp BACKSLASH
&trans       &trans          &trans    &trans    &trans  &trans     &kp BACKSLASH   &kp UNDERSCORE  &trans     &trans     &kp CARET  &trans
                                       &kp LGUI  &trans  &trans     &kp LEFT_SHIFT  &trans          &kp LC(P)
            >;
        };

        l02_sp-chars {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&qt       &kp TILDE  &kp MINUS      &kp ASTERISK    &kp EXCL              &kp EQUAL           &trans             &trans                 &kp AMPERSAND    &kp PLUS          &kp GRAVE   &trans
&kp PIPE  &kp CARET  &kp LESS_THAN  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp GREATER_THAN  &kp DOLLAR  &kp BACKSLASH
&trans    &trans     &kp AT_SIGN    &kp HASH        &trans                &kp PERCENT         &trans             &trans                 &trans           &trans            &trans      &kp ESCAPE
                                    &trans          &trans                &trans              &kp RET            &trans                 &kp RALT
            >;
        };

        l021_sp-chars2 {
            bindings = <
&trans  &trans  &kp LEFT_SHIFT  &trans  &trans     &trans    &trans          &kp PLUS   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans  &trans
&trans  &trans  &trans          &trans  &kp LCTRL  &trans    &kp LEFT_BRACE  &kp LBKT   &kp RBKT              &kp RIGHT_BRACE        &trans  &trans
&trans  &trans  &trans          &trans  &trans     &trans    &trans          &kp MINUS  &trans                &trans                 &trans  &trans
                                &trans  &trans     &trans    &trans          &trans     &trans
            >;
        };

        macroses {
            bindings = <
&trans  &trans    &trans    &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans    &trans
&trans  &tmux_w1  &tmux_w2  &tmux_w3  &tmux_w4  &tmux_w5    &tmux_w6  &tmux_w7  &tmux_w8  &tmux_w9  &tmux_w0  &trans
&trans  &trans    &trans    &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans    &trans
                            &trans    &trans    &trans      &trans    &trans    &trans
            >;
        };

        sys {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3       &bt BT_SEL 4    &kp F1            &kp F2        &kp F3      &kp F4   &trans            &trans
&trans      &trans        &out OUT_USB  &trans          &trans             &out OUT_TOG    &kp F5            &kp F6        &kp F7      &kp F8   &kp LS(LEFT_ALT)  &trans
&trans      &trans        &trans        &trans          &trans             &out OUT_BLE    &kp F9            &kp F10       &kp F11     &kp F12  &trans            &kp CLCK
                                        &kp K_PREVIOUS  &kp K_VOLUME_DOWN  &trans          &kp C_PLAY_PAUSE  &kp K_VOL_UP  &kp K_NEXT
            >;
        };

        flayer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &cf1    &cf2    &cf3    &cf4    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &cf5    &cf6    &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        tq_layer {
            bindings = <
&kp TAB  &trans  &trans  &trans  &trans  &trans            &trans  &trans        &trans  &trans  &trans  &trans
&kp ESC  &trans  &trans  &trans  &trans  &trans            &trans  &trans        &trans  &trans  &trans  &trans
&trans   &trans  &trans  &trans  &trans  &trans            &trans  &trans        &trans  &trans  &trans  &to 0
                         &kp M   &mo 9   &kp LEFT_SHIFT    &trans  &kp LEFT_WIN  &trans
            >;
        };

        tq_layer2 {
            bindings = <
&trans     &kp Y   &kp U   &kp I   &kp O   &kp P     &trans  &trans  &trans  &trans  &trans  &trans
&kp L      &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &trans  &trans  &trans  &trans  &trans  &trans
&kp ENTER  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                           &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
